<%- include ('../../partials//header') %>
<%- include ('../../partials/navbar') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <hr>
    <table class="table table-bordered">
        <thead> //cabecalho de tabela
            <tr> /linha da tabela
                <th>ID</th> //coluna da tabela
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Dev Web</th>
                <th>Slug</th>
            </tr>
        </tbody>
    </table>
</div>




<%- include ('../../partials/footer') %>